.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.black_background{
  background-color: #000;
}


@media print{
  .not_printable{
    display:none;/*Disable Scrollbar: Chrome, Safari, Opera*/
  }
}