$navbar-padding-y: 0rem;

$theme-colors:(
    "primary":#2ebbc9,
    "light":#dc4875,
    "lightshift":#bc5885,
    "accent": #f8b640,
    "accentshift":#fad862,
    "bright":#7e338e,
    "dark":#251248,
    "darkest":#0F1133,
    "white":#FFFFFF
);

$font-sizes:(
    "s":12pt,
    "m":24pt,
    "l":36pt,
    "xl": 48pt,
    "xxl":80pt
);


@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}
@function font-size($key: "s") {
    @return map-get($font-sizes, $key);
}



.dark-background{
    background-color: theme-color("dark");
}
.darkest-background{
    background-color: theme-color("darkest");
}
.bright-background{
    background-color: theme-color("bright");
}
.light-background{
    background-color: theme-color("light");
}
.white-background{
    background-color: theme-color("white");
}

.dark-bg-on-hover:hover{
    background-color: theme-color("dark");
}
.bright-text-on-hover:hover,
.bright-text-on-hover:hover *{
    color: theme-color("bright");
}
.dark-text-on-hover:hover{
    color: theme-color("dark");
}

.primary-border{
    border:2px solid theme-color("primary");
}
.bright-border-on-hover:hover{
    border:2px solid theme-color("bright");
}

.primary-large-border-top{
    border-top: 2vh solid theme-color("primary");
}
.darkest-large-border-top{
    border-top: 2vh solid theme-color("darkest");
}

.darkest-text{
    color: theme-color("darkest");
}

.text-centered{
    text-align: center;
}
.text-left-justified{
    text-align: left;
}


.underline-on-hover:hover{
    text-decoration: underline;
}
/////////////////////////////////////////////////////NAVBAR
$navbar-light-color: theme-color("bright");
$navbar-light-hover-color: theme-color("bright");

.navbar-nav{
    font-weight: bold;
}

@media (max-width: 575px){
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }
    .navbar-toggler-icon{
        background-image: url("../../public/menu_icon.png");
    }
    .navbar-nav{
        font-size: 30pt;
        padding: 1em;
    }
}


////////////////////////////PROFILE

.profileTitle{
    color: theme-color("primary");
}
a {
    color: theme-color("bright");
}
.text-dark{
    font-weight: bold;
    color: theme-color("primary") !important
}

.text-primary{
    color: theme-color("primary")
}
.text-light{
    color: theme-color("light")
}
.text-accent{
    
    color: theme-color("accent")
}
.text-bright{
    color: theme-color("bright")
}

.text-bold{
    font-weight: bold;
}

.text-gradient-accent-to-bright {
    color: theme-color("accent"); 
    background-image: linear-gradient(0deg, theme-color("accent") , theme-color("bright")); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.text-gradient-darkest-to-bright {
    color: theme-color("accent"); 
    background-image: linear-gradient(30deg, theme-color("darkest") , theme-color("bright")); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.text-gradient-accent {
    color: theme-color("accent"); 
    background-image: linear-gradient(45deg, theme-color("accentshift") , theme-color("accent")); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.text-gradient-light {
    color: theme-color("accent"); 
    background-image: linear-gradient(45deg, theme-color("lightshift") , theme-color("light")); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.text-gradient-bright-to-light {
    color: theme-color("accent"); 
    background-image: linear-gradient(0deg, theme-color("accent") , theme-color("bright")); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.text-gradient-light-to-accent {
    color: theme-color("accent"); 
    background-image: linear-gradient(30deg, theme-color("light") , theme-color("accent")); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.text-gradient-bright-to-light-hover:hover {
    color: theme-color("light"); 
    background-image: linear-gradient(90deg, theme-color("bright"), theme-color("light"), theme-color("bright")); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.text-gradient-light-to-bright {
    color: theme-color("bright"); 
    background-image: linear-gradient(90deg, theme-color("bright"), theme-color("light") , theme-color("bright")); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.text-gradient-bright-to-dark{
    color: theme-color("dark");
    background-image: linear-gradient(90deg, theme-color("dark"), theme-color("bright") , theme-color("dark")); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.s-font{
    font-size: font-size("s");
}
.m-font{
    font-size: font-size("m");
}
.l-font{
    font-size: font-size("l");
}
.xl-font{
    font-size: font-size("xl");
}
.xxl-font{
    font-size: font-size("xxl");
}

.left-justified{
    text-align: left;
}
.center-justified{
    text-align: center;
}

.script-font{
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.sans-serif-font{
    font-family: Georgia, Garamond;
}

.pointer-cursor{
    cursor:pointer;
}

.smooth_corners{
    border-radius: 10px;
}
.left-smooth{
    border-radius: 10px 0px 0px 10px;
}
.right-smooth{
    border-radius: 0px 10px 10px 0px;
}
.top-smooth{
    border-radius: 10px 10px 0px 0px;
}
.bottom-smooth{
    border-radius: 0px 0px 10px 10px;
}

.half-width{
    width: 50%;
}
.full-width{
    width:100%;
}

.inline-block{
    display: inline-block;
}

.no-overflow{
    overflow: hidden;
}

.small-pad{
    padding:2em;
}

.small-pad-top{
    padding-top: 2em;
}
.small-pad-bottom{
    padding-bottom: 2em;
}
.small-x-padding{
    padding-left:2em;
    padding-right:2em;
}

.med-pad-top{
    padding-top: 4em;
}

.med-x-padding{
    padding-left: 4em;
    padding-right: 4em;
}
.quarter-x-padding{
    padding-left: 12.5%;
    padding-right: 12.5%;
}
.half-x-padding{
    padding-left: 25%;
    padding-right: 25%;
}
.diminishing-x-padding{
    @extend .half-x-padding;
    
    @media (max-width: 990px) {
        padding-left: 15%;
        padding-right: 15%;
    }
    @media (max-width: 550px) {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.large-shift-up{
    margin-top: -8em;
}

.small-margin-top{
    margin-top:2em;
}
.large-margin-top{
    margin-top:6em;
}
.xlarge-margin-top{
    margin-top:8em;
}
.xxlarge-margin-top{
    margin-top:10em;
}
.small-margin-left{
    margin-left:2em;
}
.med-margin-left{
    margin-left:4em;
}
.large-margin-left{
    margin-left:6em;
}
.xlarge-margin-left{
    margin-left:8em;
}
.xxlarge-margin-left{
    margin-left:10em;
}

.banner-top-offset{
    margin-top:55px;
}