#Resume_Body{
  background-color: #FFF;
  padding: .5in;
}
@media print{
  #Resume_Body{
    padding: none;
  }  
}
#Resume_Banner{
  position: relative;
  width:100%;
}
#Resume_TitleContainer{
  width: 63%;
}
#Resume_ContactInfo{
  position: absolute;
  border: solid 1px #000;
  border-radius: 3px;
  padding:1em;
  top:0%;
  right:0%;
  width: 35%;
  text-align: left;
  font-size: 10pt;
}
.Resume_ContactLabel{
}

#Resume_Name{
  text-align: center;
  font-size:3em;
}
#Resume_ProfileStatement{
  position:relative;
  margin: .2in 0in .2in 0in;
}
.full_break{
  position: relative;
  margin-bottom: .4em;
  width:100%;
  border-bottom: solid 1px #000;
}
.section_content{
  margin: 0in .5in 0in .5in;
}

.section_content li{
  font-size: 10pt;
}

.work_title_bar{
  position:relative;
  height: 1em;
  margin-bottom: .4em;
  font-size: 1em;
  font-weight:500;
}
.work_title{
  position:absolute;
}
.work_daterange{
  position: absolute;
  right: 0;
}

.Resume_SkillCategoryTitle{
  position:absolute;
  transform:rotate(-90deg);
}
.Resume_Skill{
  display: inline-block;
  border: solid 1px #000;
  background-color: #AAA;
  padding: .25em 1em .25em 1em;
  margin: .1em;
  height:2em;
  min-width: 4em;
  text-align: center;
}
.Resume_PrimarySkill{
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  background-color: #AAA;
}
.Resume_SecondarySkill{
  background-color: #CCC;
}
.Resume_LastSkillInSet{
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}